.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 10%;
}
.btn {
  padding: 20px 25px;
  font-size: 30px;
  border-radius: 50%;
  background: yellow;
}
.laptopscore1,
.userscore1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.overallscore {
  display: flex;
  align-items: center;
  gap: 10px;
}
.scores {
  display: flex;
  align-items: center;
  gap: 20px;
}
.scores1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.finalresult {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.overallscore {
  font-size: 15px;
  font-weight: 400;
  margin: auto;
  width: 50%;
}
.scoresall {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: auto;
  font-size: 20px;
}
.scoresall div:first-child {
  color: blue;
}
.scoresall div:last-child {
  color: red;
}
.finalresult {
  font-weight: bold;
  font-size: 30px;
}
.submit {
  margin: 20px 0;
  width: 100px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px;
}
.submit1 {
  width: 100px;
  margin: auto;
  display: none;
}
.first {
  display: none;
}

.start {
  border-radius: 10px;
  color: white;
  padding: 10px;
  background: red;
  border: none;
  width: 100px;
  margin: 20% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
